{% extends "base.html" %}
{% block content %}

<h2>Accordion</h2>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='accordian.css') }}">
</head>

{% for key, value in entryDict.iteritems() %}
<button class="accordion">{{key}}</button>
<div class="panel">
    <!-- table creation -->
    <div style="height:500px;overflow:auto;">
    <table>
        <tr>
          <th>id</th>
          {% for x in value %}
          <th>{{x}}</th>
          {% endfor %}
        </tr>
      {% set counter = 1 %}
      {% for entry in dnsLst%}
      <tr>
          <td>{{ counter }}</td>
          {% for x in fieldsLst %}
            <td>{{entry[x]}}</td>
          {% endfor %}
      </tr>
      {% set counter = counter + 1 %}
      {% endfor %}
    </table>
    </div>
</div>

{% endfor %}



<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>
{% endblock %}
